build
node_modules
public/favicon.ico
public/images/dates/*
public/images/photos/*
src/assets/data/*
src/assets/fonts/*
src/assets/images/*
src/assets/translations/en.json
src/assets/translations/es.json