.header-row {
  background-color: white;
}

.body-row {
  background-color: white;
}

.footer-row {
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

.brand_name {
  font-family: 'Courier Prime';
  font-size: large;
  font-weight: bold;
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}
