.presskit_text {
  padding: 20px;
}

.instagram {
  color: #e1306c;
  text-decoration: none;
  font-size: 64px;
}

.instagram:hover {
  color: inherit;
}

.bandcamp {
  color: #629aa9;
  text-decoration: none;
  font-size: 64px;
}

.bandcamp:hover {
  color: inherit;
}

.spotify {
  color: #1db954;
  text-decoration: none;
  font-size: 64px;
}

.spotify:hover {
  color: inherit;
}

.presskit_social {
  text-decoration: none;
}
